<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyrric.tcc.order.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.github.lyrric.tcc.order.entity.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="xid" jdbcType="VARCHAR" property="xid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>